@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');


/*Main Color:  #013440*/
/*Secondary Colar:  White*/
/*Text Color: #42403C*/
/**{
	outline:  1px solid red;
}*/
i{
	font-family: 'Nunito', sans-serif;
	margin: 5px;
	margin-left: 60px;
	padding: 5px;
}
body{
	
	background: white;
	color: #42403C;
	font-family: 'Nunito', sans-serif;
	
}
p{
	text-align: justify;
	text-justify: inter-word;
	font-family: 'Nunito', sans-serif;
	margin: 0;
	font-size: 16px;
}
.nav-links{
	text-decoration: none;
	color: #42403C;
	padding: 0px;
	margin: 5px;
	font-size: 2rem;
	font-family: 'Dongle', sans-serif;
	transition: border-bottom 1s;
	border-bottom: 2px solid white;
}
.nav-links:hover{
	text-decoration: none;
	color: #42403C;
	border-bottom: 2px solid #013440;
}

#nav, #logo{
	display: inline-block;
}

#head{
	padding: 30px;
	margin-top: 20px;

}
.title{
	margin-left: 40px;
	font-weight: bolder;
}

.social-links{
	text-decoration: none;
	color: #42403C;
	font-size: 40px;
}

	
footer{
	margin-top: 20px;
}
h3 h4{
	font-weight: bold;
}

#up-btn{
	z-index: 1;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 0;
	right: 0;
}
.card{
	width: 18rem;
}
.card-titles{
	text-decoration: none;
	color: #42403C;
}

.card-titles{
	transition: 0.4s;
}

.card-titles:hover{
	text-decoration: none;
	color: #42403C;
	box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);		
}


.list-group-item:hover{
	transition: 0.2s;
	border-left: 5px solid lightgrey;
}

#head{
	display: flex;
	justify-content: space-around;
}
#certificates{
	width: 25%;
}
.card{
	margin-left: 2px;
	margin-right: 2px;
	width: 18rem;
}

#intro{
	width: 85%;
	margin: auto;
}

#footer-text{
	text-align: center;
	margin-top: 15px;
}

#footer-hr{
	width: 75%;
	margin: auto;
}
footer{
	margin: auto;
	width: 75%;

}

.footer-icon{
	font-family: 'Nunito', sans-serif;
	margin: 5px;
	margin-left: 60px;
	padding: 5px;
}


/*Responsive Mode*/

@media screen and (max-width: 600px){

	.d-flex{
		display: flex;
		flex-direction: column;

	}
	.w-50, .p-2, #intro-img{
		width: 100%;
		margin: auto;
	}
	
	#head{
		background-color: white;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}
	#certificates{
		width: 100%;
	}
	.about-items{
		margin-left: 45px;
		margin-right: 20px;
	}

	#logo{
		margin-left: 40px;
	}

	.card{
		margin: auto;
		margin-bottom: 15px;
		width: 20rem;
	}

	#footer-hr{
		width: 100%;
	}

	#footer-text{
		
		float: left;
		text-align: center;
		width: 70%;
	}
	
	.footer-icon{
		margin: auto;	
	}
}